server:
  port: 8686

  spring:
    application:
      name: order-service

    datasource:
      url: jdbc:postgresql://localhost:5432/food_delivery
      username: postgres
      password: root123

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
