server:
  port: 8585

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8484
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=2

        - id: order-service
          uri: http://localhost:8686
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1

        - id: restaurant-service
          uri: http://localhost:8787
          predicates:
            - Path=/api/restaurants/**
          filters:
            - StripPrefix=1
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG

jwt:
  secret: my-super-secret-key-for-food-delivery-platform-123456

